---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200477947/engines?api_key=EDMUNDS_API_KEY&fmt=json&name=EZH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-43.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"engines":[{"id":"200478098","name":"5.7L V8 Engine (EZH)","equipmentType":"ENGINE","availability":"OPTIONAL","options":[{"id":"200478145","name":"5.7L
        V8 HEMI MDS VVT Engine (S Rwd)","description":"5.7L V8 16V VVT engine rated
        at 363 hp @ 5200 rpm and 394 lb.-ft. of torque @ 4200 rpm; 5-speed automatic
        transmission; 160 mph primary speedometer; 215mm rear axle; 4 wheel independent
        performance suspension; Anti-lock 4-wheel performance disc brakes; Gross vehicle
        weight of 5350 lbs.","equipmentType":"OPTION","availability":"S Rwd","manufactureOptionName":"5.7L
        V8 HEMI MDS VVT Engine","manufactureOptionCode":"EZH","category":"Package","price":{"baseMSRP":3000.0,"baseInvoice":2670.0,"estimateTmv":false},"attributes":[{"name":"Front
        Suspension Classification","value":"independent"},{"name":"Independent Suspension","value":"four-wheel"},{"name":"Rear
        Suspension Classification","value":"independent"},{"name":"Antilock Braking
        System","value":"4-wheel ABS"},{"name":"Gross Vehicle Weight","value":"5350"}]}],"compressionRatio":10.5,"cylinder":8,"size":5.7,"displacement":5654.0,"configuration":"V","fuelType":"regular
        unleaded","horsepower":363,"torque":394,"totalValves":16,"manufacturerEngineCode":"EZH","type":"gas","code":"8VNAG5.7","compressorType":"NA"}],"enginesCount":1}'
  recorded_at: Fri, 10 Oct 2014 20:19:15 GMT
recorded_with: VCR 2.9.3
