---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/engines/200478098?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":"200478098","name":"5.7L V8 Engine (EZH)","equipmentType":"ENGINE","availability":"OPTIONAL","compressionRatio":10.5,"cylinder":8,"size":5.7,"displacement":5654.0,"configuration":"V","fuelType":"regular
        unleaded","horsepower":363,"torque":394,"totalValves":16,"manufacturerEngineCode":"EZH","type":"gas","code":"8VNAG5.7","compressorType":"NA"}'
  recorded_at: Fri, 10 Oct 2014 20:17:24 GMT
recorded_with: VCR 2.9.3
