---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200477947/engines?api_key=EDMUNDS_API_KEY&availability=standard&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"engines":[{"id":"200478096","name":"3.6L V6 Engine (300S Only)","equipmentType":"ENGINE","availability":"STANDARD","compressionRatio":10.2,"cylinder":6,"size":3.6,"displacement":3604.0,"configuration":"V","fuelType":"flex-fuel
        (unleaded/E85)","horsepower":300,"torque":264,"totalValves":24,"manufacturerEngineCode":"ERB","type":"flex-fuel
        (FFV)","code":"6VNAF3.6","compressorType":"NA"}],"enginesCount":1}'
  recorded_at: Fri, 10 Oct 2014 20:18:39 GMT
recorded_with: VCR 2.9.3
