---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/200477947/transmissions?api_key=EDMUNDS_API_KEY&availability=standard&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-49.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"transmissions":[{"id":"200478101","name":"8A","equipmentType":"TRANSMISSION","availability":"STANDARD","automaticType":"Shiftable
        automatic","transmissionType":"AUTOMATIC","numberOfSpeeds":"8"}],"transmissionsCount":1}'
  recorded_at: Fri, 10 Oct 2014 20:18:37 GMT
recorded_with: VCR 2.9.3
