---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/transmissions/200478100?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-47.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":"200478100","name":"5A","equipmentType":"TRANSMISSION","availability":"OPTIONAL","automaticType":"Shiftable
        automatic","transmissionType":"AUTOMATIC","numberOfSpeeds":"5"}'
  recorded_at: Fri, 10 Oct 2014 20:17:21 GMT
recorded_with: VCR 2.9.3
