---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/years?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-43.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"years":[{"id":3328,"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"year":1990,"styles":[{"id":222,"name":"325iX
        4dr Sedan AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX","states":["USED"]},{"id":220,"name":"325iX
        2dr Coupe AWD","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325iX","states":["USED"]},{"id":218,"name":"325is
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325is","states":["USED"]},{"id":215,"name":"325i
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325i","states":["USED"]},{"id":216,"name":"325i
      [...]
