---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/1990?api_key=EDMUNDS_API_KEY&category=Sedan&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-51.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":3328,"year":1990,"styles":[{"id":222,"name":"325iX 4dr Sedan
        AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX"},{"id":216,"name":"325i
        4dr Sedan","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325i"}]}'
  recorded_at: Fri, 10 Oct 2014 18:29:00 GMT
recorded_with: VCR 2.9.3
