---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/years/count?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"yearsCount":26,"years":[{"id":100524310,"year":2008,"stylesCount":12},{"id":100503217,"year":2004,"stylesCount":10},{"id":3330,"year":1992,"stylesCount":6},{"id":3331,"year":1994,"stylesCount":6},{"id":100000021,"year":2001,"stylesCount":10},{"id":3328,"year":1990,"stylesCount":6},{"id":3329,"year":1991,"stylesCount":8},{"id":200468552,"year":2014,"stylesCount":13},{"id":100538029,"year":2012,"stylesCount":12},{"id":1118,"year":2000,"stylesCount":6},{"id":100524793,"year":2009,"stylesCount":13},{"id":100502723,"year":2003,"stylesCount":12},{"id":3209,"year":1995,"stylesCount":7},{"id":3211,"year":1998,"stylesCount":7},{"id":3210,"year":1997,"stylesCount":7},{"id":200704009,"year":2015,"stylesCount":13},{"id":100529029,"year":2010,"stylesCount":13},{"id":100503250,"year":2005,"stylesCount":10},{"id":100507019,"year":2007,"stylesCount":11},{"id":100531052,"year":2011,"stylesCount":15},{"id":100000457,"year":2002,"stylesCount":10},{"id":910,"year":1996,"stylesCount":7},{"id":909,"year":1993,"stylesCount":5},{"id":100535269,"year":2013,"stylesCount":15},{"id":100504903,"year":2006,"stylesCount":9},{"id":963,"year":1999,"stylesCount":7}]}'
  recorded_at: Fri, 10 Oct 2014 18:29:09 GMT
recorded_with: VCR 2.9.3
