---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/1990?api_key=EDMUNDS_API_KEY&fmt=json&submodel=3-series&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-40.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":3328,"year":1990,"styles":[{"id":222,"name":"325iX 4dr Sedan
        AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX"},{"id":220,"name":"325iX
        2dr Coupe AWD","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325iX"},{"id":218,"name":"325is
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325is"},{"id":215,"name":"325i
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325i"},{"id":216,"name":"325i
        4dr Sedan","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325i"},{"id":213,"name":"325i
        2dr Convertible","submodel":{"body":"Convertible","modelName":"3 Series Convertible","niceName":"convertible"},"trim":"325i"}]}'
  recorded_at: Fri, 10 Oct 2014 18:28:59 GMT
recorded_with: VCR 2.9.3
