---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/makes?api_key=EDMUNDS_API_KEY&fmt=json&view=basic&year=1990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-43.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"makes":[{"id":200002038,"name":"Acura","niceName":"acura","models":[{"id":"Acura_Integra","name":"Integra","niceName":"integra","years":[{"id":3268,"year":1990}]},{"id":"Acura_Legend","name":"Legend","niceName":"legend","years":[{"id":3275,"year":1990}]}]},{"id":200000001,"name":"Audi","niceName":"audi","models":[{"id":"Audi_100","name":"100","niceName":"100","years":[{"id":3295,"year":1990}]},{"id":"Audi_200","name":"200","niceName":"200","years":[{"id":3300,"year":1990}]},{"id":"Audi_80","name":"80","niceName":"80","years":[{"id":3303,"year":1990}]},{"id":"Audi_90","name":"90","niceName":"90","years":[{"id":3306,"year":1990}]},{"id":"Audi_Coupe"[...]
