---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw?api_key=EDMUNDS_API_KEY&fmt=json&state=new&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-49.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":200000081,"name":"BMW","niceName":"bmw","models":[{"id":"BMW_1_Series","name":"1
        Series","niceName":"1-series","years":[{"id":200421700,"year":2013}]},{"id":"BMW_2_Series","name":"2
        Series","niceName":"2-series","years":[{"id":200467976,"year":2014},{"id":200676054,"year":2015}]},{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series","years":[{"id":100535269,"year":2013},{"id":200468552,"year":2014},{"id":200704009,"year":2015}]},{"id":"BMW_3_Series_Gran_Turismo","name":"3
        Series Gran Turismo","niceName":"3-series-gran-turismo","years":[{"id":200461849,"year":2014},{"id":200706926,"year":2015}]},{"id":"BMW[...]
