---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw?api_key=EDMUNDS_API_KEY&fmt=json&view=basic&year=1990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":200000081,"name":"BMW","niceName":"bmw","models":[{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series","years":[{"id":3328,"year":1990}]},{"id":"BMW_5_Series","name":"5
        Series","niceName":"5-series","years":[{"id":3213,"year":1990}]},{"id":"BMW_7_Series","name":"7
        Series","niceName":"7-series","years":[{"id":3220,"year":1990}]},{"id":"BMW_M3","name":"M3","niceName":"m3","years":[{"id":100002612,"year":1990}]}]}'
  recorded_at: Fri, 10 Oct 2014 18:28:21 GMT
recorded_with: VCR 2.9.3
