---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/makes/count?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"makesCount":61,"makes":[{"niceName":"ram","modelsCount":10},{"niceName":"maybach","modelsCount":3},{"niceName":"ferrari","modelsCount":13},{"niceName":"lamborghini","modelsCount":5},{"niceName":"hyundai","modelsCount":22},{"niceName":"buick","modelsCount":19},{"niceName":"hummer","modelsCount":6},{"niceName":"kia","modelsCount":15},{"niceName":"spyker","modelsCount":1},{"niceName":"alfa-romeo","modelsCount":1},{"niceName":"ford","modelsCount":61},{"niceName":"chevrolet","modelsCount":72},{"niceName":"gmc","modelsCount":39},{"niceName":"honda","models[...]
