---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":200000081,"name":"BMW","niceName":"bmw","models":[{"id":"BMW_1_Series","name":"1
        Series","niceName":"1-series","years":[{"id":100524709,"year":2008,"states":["USED"]},{"id":100503222,"year":2009,"states":["USED"]},{"id":100529091,"year":2010,"states":["USED"]},{"id":100531309,"year":2011,"states":["USED"]},{"id":100534729,"year":2012,"states":["USED"]},{"id":200421700,"year":2013,"states":["USED","NEW"]}],"states":["USED","NEW"]},{"id":"BMW_1_Series_M","name":"1
        Series M","niceName":"1-series-m","years":[{"id":100534409,"year":2011,"states":["USED"]}],"states":["USED"]},{"id":"BMW_2_Series","name":"2
        Series","niceName":"2-series","ye[...]
