---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/styles/101353967?api_key=EDMUNDS_API_KEY&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-54.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"make":{"id":200001623,"name":"Lexus","niceName":"lexus"},"model":{"id":"Lexus_RX_350","name":"RX
        350","niceName":"rx-350"},"id":101353967,"name":"4dr SUV (3.5L 6cyl 6A)","year":{"id":100533091,"year":2011},"submodel":{"body":"SUV","modelName":"RX
        350 SUV","niceName":"suv"},"trim":"Base"}'
  recorded_at: Fri, 10 Oct 2014 18:55:58 GMT
recorded_with: VCR 2.9.3
