---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/1990/styles?api_key=EDMUNDS_API_KEY&category=Sedan&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-43.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"styles":[{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"id":222,"name":"325iX 4dr Sedan AWD","year":{"id":3328,"year":1990},"submodel":{"body":"Sedan","modelName":"3
        Series Sedan","niceName":"sedan"},"trim":"325iX"},{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"id":216,"name":"325i 4dr Sedan","year":{"id":3328,"year":1990},"submodel":{"body":"Sedan","modelName":"3
        Series Sedan","niceName":"sedan"},"trim":"325i"}],"stylesCount":2}'
  recorded_at: Fri, 10 Oct 2014 19:00:38 GMT
recorded_with: VCR 2.9.3
