---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/1990/styles?api_key=EDMUNDS_API_KEY&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-43.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"styles":[{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"id":215,"name":"325i 2dr Coupe","year":{"id":3328,"year":1990},"submodel":{"body":"Coupe","modelName":"3
        Series Coupe","niceName":"coupe"},"trim":"325i"},{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"id":213,"name":"325i 2dr Convertible","year":{"id":3328,"year":1990},"submodel":{"body":"Convertible","modelName":"3
        Series Convertible","niceName":"convertible"},"trim":"325i"},{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"id":222,"name":"325iX 4dr Sedan AWD","[...]
