---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series/1990/styles?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-51.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"styles":[{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"engine":{"id":"200655311","name":"Engine","equipmentType":"ENGINE","compressionRatio":8.0,"cylinder":6,"size":2.5,"configuration":"inline","fuelType":"regular
        unleaded","horsepower":168,"torque":164,"type":"gas","code":"6INAG2.5"},"transmission":{"id":"200655309","name":"5M","equipmentType":"TRANSMISSION","transmissionType":"MANUAL","numberOfSpeeds":"5"},"drivenWheels":"rear
        wheel drive","numOfDoors":"2","options":[],"colors":[],"price":{"usedTmvRetail":2513.0,"usedPrivateParty":1257.0,"usedTradeIn":503.0,"estimateTmv":false},"categories":{"market":"Luxury","EPAClass":"SUBCOMPACT_CARS","vehicleSize":"Compact","primaryBodyType":"Car","vehicleStyle":"Coupe","vehicleType":"Car"},"id":215,"name":"325i
        2dr Coupe","year":{"id":3328,"year":1990},"submodel":{"body":"Coupe","modelName":"3
        Series Coupe","niceName":"coupe"},"trim":"325i","states":["USED"],"squishVins":["WBAAA131LE","WBAAA131LA","WBAAA230LE","WBAAA231LA","WBAAA130LE","WBAAA231LE"],"MPG":{"highway":"22","city":"16"}},{"make":{"id":200000081,"name":"BMW","niceName":"bmw"},"model":{"id":"BMW_3_Series","name":"3
        Series","niceName":"3-series"},"engine":{"id":"200655308","name":"Engine","equipmentType":"ENGINE","compressionRatio":8.0,"cylinder":6,"size":2.5,"configuration":"inline","fuelType":"regular
        unleaded","horsepower":168,"torque":164,"type":"gas","code":"6INAG2.5"},"transmission":{"id":"200655306","name":"5M","equipmentType":"TRANSMISSION","transmissionType":"MANUAL","numberOfSpeeds"[...]
