---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/partners/chrome/styles/11916?api_key=EDMUNDS_API_KEY&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-46.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"make":{"id":200007302,"name":"GMC","niceName":"gmc"},"model":{"id":"GMC_Savana_Cargo","name":"Savana
        Cargo","niceName":"savana-cargo"},"id":100001127,"name":"2500 3dr Ext Van
        (4.3L 6cyl 4A)","year":{"id":100000114,"year":2001},"submodel":{"body":"Van","modelName":"Savana
        Cargo","niceName":"van"},"trim":"2500"}'
  recorded_at: Fri, 10 Oct 2014 19:09:46 GMT
recorded_with: VCR 2.9.3
