---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/models?api_key=EDMUNDS_API_KEY&fmt=json&view=basic&year=1990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-46.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"models":[{"id":"BMW_3_Series","name":"3 Series","niceName":"3-series","years":[{"id":3328,"year":1990,"styles":[{"id":222,"name":"325iX
        4dr Sedan AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX"},{"id":220,"name":"325iX
        2dr Coupe AWD","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325iX"},{"id":218,"name":"325is
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325is"},{"id":215,"name":"325i
        2dr Coupe","submodel":{"body":"Coupe","modelName":"3 Series Coupe","niceName":"coupe"},"trim":"325i"},{"id":216,"name":"325i
        4dr Sedan","submodel":{"body":"Sedan","modelName":"3 [...]
