---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/models?api_key=EDMUNDS_API_KEY&fmt=json&state=new&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-51.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"models":[{"id":"BMW_1_Series","name":"1 Series","niceName":"1-series","years":[{"id":200421700,"year":2013,"styles":[{"id":200428722,"name":"128i
        2dr Coupe (3.0L 6cyl 6M)","submodel":{"body":"Coupe","modelName":"1 Series
        Coupe","niceName":"coupe"},"trim":"128i"},{"id":200428721,"name":"128i 2dr
        Convertible (3.0L 6cyl 6M)","submodel":{"body":"Convertible","modelName":"1
        Series Convertible","niceName":"convertible"},"trim":"128i"},{"id":200421701,"name":"135is
        2dr Coupe (3.0L 6cyl Turbo 6M)","submodel":{"body":"Coupe","modelName":"1
        Series Coupe","niceName":"coupe"},"trim":"135is"},{"id":200428724,"name":"135i
        2dr Coupe (3.0L 6cyl Turbo 6M)","submodel":{"body":"Coupe","modelName":"1
        Series Coupe","ni[...]
