---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series?api_key=EDMUNDS_API_KEY&fmt=json&state=new&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":"BMW_3_Series","name":"3 Series","niceName":"3-series","years":[{"id":100535269,"year":2013,"styles":[{"id":200423471,"name":"328i
        xDrive 2dr Coupe AWD (3.0L 6cyl 6M)","submodel":{"body":"Coupe","modelName":"3
        Series Coupe","niceName":"coupe"},"trim":"328i xDrive"},{"id":200423469,"name":"328i
        4dr Sedan (2.0L 4cyl Turbo 6M)","submodel":{"body":"Sedan","modelName":"3
        Series Sedan","niceName":"sedan"},"trim":"328i"},{"id":200423467,"name":"328i
        2dr Convertible (3.0L 6cyl 6M)","submodel":{"body":"Convertible","modelName":"3
        Series Convertible","niceName":"convertible"},"trim":"328i"},{"id":200423468,"name":"328i
        2dr Coupe (3.0L 6cyl 6M)","submodel":{"body":"Coupe","modelName":"3 Series
        Coupe","niceName":"coupe"},"trim":"328i"},{"id":101414454,"name":"ActiveHybrid
        3 4dr Sedan (3.0L 6cyl Turbo gas/electric hybrid 8A)","submodel":{"body":"Sedan","fuel":"Hybrid","modelName":"3
        Series Hybrid","niceName":"hybrid"},"trim":"ActiveHybrid 3"},{"id":200423804,"name":"328i
        xDrive 4dr Sedan AWD (2.0L 4cyl Turbo 8A)","submodel":{"body":"Sedan","modelName":"3
        Series Sedan","niceName":"sedan"},"trim":"328i xDrive"},{"id":200423805,"name":"335i
        xDrive 4dr Sedan AWD (3.0L 6cyl Turbo 6M)","submodel":{"body":"Sedan","modelName":"3
        Series Sedan","niceName":"sedan"},"trim":"335i xDrive"},{"id":200459518,"name":"320i
      [...]
