---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/3-series?api_key=EDMUNDS_API_KEY&category=Sedan&fmt=json&view=basic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-46.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"id":"BMW_3_Series","name":"3 Series","niceName":"3-series","years":[{"id":3328,"year":1990,"styles":[{"id":222,"name":"325iX
        4dr Sedan AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX"},{"id":216,"name":"325i
        4dr Sedan","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325i"}]},{"id":3329,"year":1991,"styles":[{"id":186,"name":"318i
        4dr Sedan","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"318i"},{"id":196,"name":"325iX
        4dr Sedan AWD","submodel":{"body":"Sedan","modelName":"3 Series Sedan","niceName":"sedan"},"trim":"325iX"},{"id":14186,"name":"325i
        4dr Sedan","submod[...]
