---
http_interactions:
- request:
    method: get
    uri: https://api.edmunds.com/api/vehicle/v2/bmw/models/count?api_key=EDMUNDS_API_KEY&fmt=json&view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Environment:
      - Prod-2
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-49.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"modelsCount":40,"models":[{"niceName":"activehybrid-5","yearsCount":3},{"niceName":"x6-m","yearsCount":5},{"niceName":"activehybrid-7","yearsCount":5},{"niceName":"1-series","yearsCount":6},{"niceName":"z4-m","yearsCount":2},{"niceName":"alpina","yearsCount":1},{"niceName":"1-series-m","yearsCount":1},{"niceName":"i3","yearsCount":1},{"niceName":"alpina-b6-gran-coupe","yearsCount":1},{"niceName":"alpina-b7","yearsCount":6},{"niceName":"3-series","yearsCount":26},{"niceName":"2-series","yearsCount":2},{"niceName":"6-series","yearsCount":11},{"niceName":"6-series-[...]
